
@mixin ui-block ($height, $width, $bWidth) {
  width: $width;
  height: $height;
  border-width: 1px 1px $bWidth 1px;
  border-radius: 8px;
  border-style: solid;
}

.ui-block-lg {
  @include ui-block(500px, 100%, 1.5vh);
}