
$red: #d41938;
$hRed: #f00028;
$dRed: #af152e;
$bRed: #710D1E;
$blue: #0e6bcb;
$hBlue: #117ae4;
$dBlue: #0e5097;
$bBlue: #073565;
$green: #2a8f0d;
$hGreen: #30a111;
$dGreen: #1e610a;
$bGreen: #154706;
$yellow: #d89e00;
$hYellow: #f0b000;
$dYellow: #a37800;
$bYellow: #6C4F00;
$white: #e0e0e0;
$hWhite: #bebebe;
$dWhite: #a8a8a8;
$bWhite: #838383;